
/*custom fonts*/

@font-face {
  font-family: "ubuntuMed";
  src: url('Ubuntu-Medium.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "logoFont1120";
  src: url('11.20___.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}





body {
  font-family: ubuntuMed;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(223, 230, 168) 20%, rgb(234, 238, 208) 100%);
  padding: 0px;
  margin: 0px;
}
  
hr {
    visibility: hidden;
}

button {
  padding: 5px;
  background-color:#f6f6f6;
  outline: none;
  border:#bebebe, solid, 3px;
  border-radius: 5px;
}

button:hover {
  border:#888888, solid, 3px;

}

input {
  padding: 5px;
  background-color:#f6f6f6;
  outline: none;
  border:#bebebe, solid, 3px;
  border-radius: 5px;
}

input:hover, input:focus {
  border:#888888, solid, 3px;
}

#unitSelect {
  padding: 5px;
  background-color:#f6f6f6;
  outline: none;
  border:#bebebe, solid, 3px;
  border-radius: 5px;
  font-family: ubuntuMed;
}

#numOfJ {
  width: 50px;
}



/*trying to organize a little bit*/


.layout {
    display: grid;
    grid-template-areas: 
    "header" 
    "ad"
    "mainContent" 
    "footer";
  }


/*header*/

.layout > div.header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    box-shadow: 0 10px 0px #808a66, 0 15px 6px rgba(0, 0, 0, 0.2);  
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: #3e4921;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLinksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a, nav a:visited {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5vw;
  color:#3e4921;
}

nav a:hover {
  color:#5d6d33;
  background-color: #e5e5e5;
}

nav .logoText {
  margin-right: auto;
  font-family: 'logoFont1120';
  display: flex;
  align-items: center;
  font-size: 3vw;
}

nav .logoText:hover {
  color:#5d6d33;
  background-color: #e5e5e5;
}

#hidden.logoText {
  display: none;
}

#sidebarActive {
  display: none;
}

.openSidebarButton, .closeSidebarButton {
  display: none;
}

@media only screen and (max-width: 800px) {

  .navLinksContainer {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    /*had to add this -25px to fix sideNav's 25px low position, not sure why tho*/
    top:-25px;
    right: -100%;
    width: 250px;
    z-index: 10;

    background-color: #ffffff;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    transition: .6s ease-out;
  }

  nav a {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    font-size: 4.5vw;
  }

  nav .logoText {
    display: none;
  }

  #hidden.logoText {
    display:flex;
    height: 100%;
    margin-right: auto;
    align-items: center;
    width:fit-content;
    font-family: 'logoFont1120';
    font-size: 5.5vw;
  }

  .openSidebarButton, .closeSidebarButton {
    display: block;
    padding: 20px;
  }

  #sidebarActive:checked ~ .navLinksContainer{
    right: 0;
  }

  #sidebarActive:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .textBox {font-size: 3.5vw;}
}

/*ads*/

.layout > div.ads {
  grid-area: ad;
  width: 100%;
  height: 100%;
  margin: 30px 0px;
}

/*content*/

  .layout > div.contentOzToG, .layout > div.contentDosageCalc {
    grid-area: mainContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
    margin: 30px;

    min-height: calc(100vh - 205px);
  }
  
  /*grids within grids (for calculators)*/

  .layout > div.contentOzToG > div, .layout > div.contentDosageCalc > div {
    padding: 10px;
    padding-bottom: 50px;
    background-color: #ffffff;
    outline: 5px solid #808a66;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);;
    font-size: 16px;

    max-height: 300px;
  }


  .layout > div.contentDosageCalc > div.resultBox {
    font-size: 20px;
  }

  .layout > div.aboutContent {
    grid-area: mainContent;
    min-height: calc(100vh - 205px);
  }

  div.textBox {
    grid-area: mainContent;
    background-color: #ffffff;
    outline: 5px solid #99a47d;
    border-radius: 10px;
    margin: 30px;    
    padding: 20px
  }

  .card {
    /* Add shadows to create the "card" effect */
    width: 275px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
  }

  .container {
    padding: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
  }
  

/*footer*/

  .layout > div.footer {
    grid-area: footer;
    padding: 20px;
    bottom: 0;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
  }
